<section class="container mt-2">
    <div class="row">
        <!-- Sección de configuracion y accesos directos -->
        <div class="card-deck">
            <div class="card">
              <h1 class="text-center display-1 card-img-top"><a [routerLink]="['usuarios']"><i class="fas fa-users text-success"></i></a></h1>
              <div class="card-body">
                <h5 class="card-title text-center"><a [routerLink]="['usuarios']">Usuarios</a></h5>
                <p class="card-text text-justify">Ingrese al módulo, agregue, edite su identificación RFID y gestione sus usuarios</p>
              </div>
            </div>
            <div class="card">
                <h1 class="text-center display-1 card-img-top"><a [routerLink]="['zonas']"><i class="fas fa-map-marked-alt text-primary"></i></a></h1>
              <div class="card-body">
                <h5 class="card-title text-center"><a [routerLink]="['zonas']">Zonas</a></h5>
                <p class="card-text text-justify">Agregue y edite Zonas</p>
              </div>
            </div>
            <div class="card">
                <h1 class="text-center display-1 card-img-top"><a [routerLink]="['informes']"><i class="fas fa-file-medical-alt text-warning"></i></a></h1>
              <div class="card-body">
                <h5 class="card-title text-center"><a [routerLink]="['informes']">Reportes</a></h5>
                <p class="card-text">Informes de usuarios y zonas</p>
              </div>
            </div>
          </div>
        <!-- Fin de Promos -->
    </div>
</section>