<form class="form-signin" [formGroup]="logForm" (ngSubmit)="loginTest()">
    <div class="text-center mb-4">
      <img class="mb-4" src="{{ imglogin }}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Ingreso a Eureka APP</h1>
    </div>
  
    <div class="form-label-group">
      <input type="email" name="user" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Correo Electrónico</label>
    </div>
  
    <div class="form-label-group">
      <input type="password" name="pass" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Contraseña</label>
    </div>
  
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
    <a [routerLink]="['../registro']" class="btn btn-lg btn-success btn-block" type="button">Registrarse</a>
    <p class="mt-5 mb-3 text-muted text-center">&copy; {{ year | date: 'yyyy' }}</p>
  </form>