<section class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="display-3 text-center text-success">{{ titulo }}</h1>
            <div class="input-group input-group-lg mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-primary text-light" id="inputGroup-sizing-lg">Buscar Usuario </span>
                </div>
                <input type="text" class="form-control" placeholder="Busque por Código de Identificación o Número de Cédula" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
              </div>
        </div>

        <div class="col-sm-4">
          <div class="col-sm-12 mb-2">
            <h2 class="text-center mt-3 text-danger">Usuarios Registrados: <br><span class="text-success">{{ total }}</span></h2>
          </div>
          <div class="col-sm-12 mt-2 mb-0 d-flex justify-content-end">
            <div *ngIf="page > 1">
              <a [routerLink]="['/usuarios', prevpage]" class="btn btn-outline-info mt-2">Anterior&nbsp;<i class="fas fa-backward"></i></a>
            </div>
            <span class="text-">&nbsp;</span>
            <div *ngIf="pages != page">
              <a [routerLink]="['/usuarios', nextpage]" class="btn btn-outline-info mt-2"><i class="fas fa-forward"></i>&nbsp;Siguiente</a>
            </div>
          </div>
        </div>

        <section class="col-sm-12 mt-4">
            <table class="table table-bordered">
                <thead class="thead-dark text-center">
                  <tr>
                    <th scope="col">Amos</th>
                    <th scope="col">N°. Cédula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody *ngIf="!finder">
                  <tr *ngFor="let user of users">
                    <td scope="row">{{ user.Amos }}</td>
                    <td>{{ user.identificacion }}</td>
                    <td> {{ user.nombres }} </td>
                    <td> {{ user.apellidos }} </td>
                    <td class="text-center">
                      <button (click)=" addRfid(user)" type="button" data-toggle="modal" data-target="#modalrfid" class="btn btn-sm btn-success mr-2"><i class="fas fa-plus"></i>&nbsp;RFID</button>
                      <button type="button" class="btn btn-sm btn-danger"><i class="fas fa-user-slash"></i>&nbsp;Desactivar</button>
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="finder">
                  <tr *ngFor="let user of users">
                    <td scope="row">{{ user.Amos }}</td>
                    <td>{{ user._id}}</td>
                    <td> {{ user.nombres }} </td>
                    <td> {{ user.apellidos }} </td>
                    <td class="text-center">
                      <button type="button" data-toggle="modal" data-target="#modalrfid" class="btn btn-sm btn-success mr-2"><i class="fas fa-plus"></i>&nbsp;RFID</button>
                      <button type="button" class="btn btn-sm btn-danger"><i class="fas fa-user-slash"></i>&nbsp;Desactivar</button>
                    </td>
                  </tr>
                </tbody>
              </table>

        </section>
    </div>
</section>
  
  <!-- Modal -->
  <div class="modal fade" id="modalrfid" tabindex="-1" role="dialog" aria-labelledby="modalrfid" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="modalrfidTitle"><i class="text-primary fas fa-user-tag"></i>&nbsp;{{ userUdt.nombres+" "+userUdt.apellidos }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">RFID&nbsp;<i class="fas fa-id-card"></i></span>
                </div>
                <input type="hidden" name="userid" value="{{userUdt._id}}">
                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>