<!-- Menú Principal -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']"><img src="{{ senab }}" width="50" alt="">&nbsp;SENA CTMA | Avianca&nbsp;<img src="{{ brand }}" width="50" alt=""></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['usuarios']" tabindex="-1" aria-disabled="true"><i class="fas fa-users text-success"></i>&nbsp;Usuarios</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['zonas']"><i class="fas fa-map-marked-alt text-primary"></i>&nbsp;Zonas</a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" [routerLink]="['informes']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-file-medical-alt text-warning"></i>&nbsp;Reportes
        </a>
        <div class="dropdown-menu right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Informe de ...</a>
          <a class="dropdown-item" href="#">Informe de ...</a>
          <a class="dropdown-item" href="#">Informe de ...</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Informe de ...</a>
          <a class="dropdown-item" href="#">Informe de ...</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Nuestra Red</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item active">
        <a href="https://classroom.google.com/u/1/c/MzE5Nzc1MDcxNTha" target="_blank" placement="bottom" ngbTooltip="Gloogle Classroom" tooltipClass="my-freaky-tooltip" class="nav-link text-danger"><i class="fab fa-google"></i>&nbsp;</a>
      </li>
      <li class="nav-item active">
        <a href="https://github.com/EderLara/eureka" target="_blank" placement="bottom" ngbTooltip="Repositorio" tooltipClass="my-freaky-tooltip" class="nav-link"><i class="fab fa-github"></i>&nbsp;</a>
      </li>
      <!-- <li class="nav-item active">
        <a href="https://www.linkedin.com/in/eder-lara-trujillo-659047125/" target="_blank" placement="bottom" tooltipClass="my-freaky-tooltip" ngbTooltip="Perfil de Linkedin" class="nav-link text-info"><i class="fab fa-linkedin"></i>&nbsp;</a>
      </li> -->
      <li class="nav-item active">
        <a [routerLink]="['equipo']" target="_blank" placement="bottom" tooltipClass="my-freaky-tooltip" ngbTooltip="Ayuda" class="nav-link text-warning"><i class="far fa-question-circle"></i>&nbsp;</a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['ingreso']" class="nav-link"><i class="far fa-user-circle"></i>&nbsp;<b>Ingreso</b></a>
      </li>
    </ul>
  </div>
</nav>
<!-- Visualización de las otras páginas -->
<router-outlet></router-outlet>

